<div class="flex align-items-center footer-container">
    <div>Done by Bobinzzzz</div>
    <div class="flex align-items-center"><i class="fab fa-discord"></i> <span>Bobinzzzz#2917</span></div>
    <div>Email: <a href="mailto:twtichbotzzzz@gmail.com">twtichbotzzzz@gmail.com</a></div>
</div>