<div id="question_content">
    <div class=" flex align-items-center banner-container">
        <div class="flex dir-column">
            <h1>Stream: <a href="//www.twitch.tv/{{channel.channel}}" target='_blank'>{{ channel.channel }}</a></h1>
        </div>
    </div>
        

    <br>
    <div class="flex user-list-container">
        <div class="w-50">
            <h3>Current queue:</h3>
            <div class="users-container">
                {{# each channel.queue as |user index|}}
                    <div class="flex align-items-center users">
                        <span>{{ user }} </span>
                    </div>
                {{/each }}
            </div>
        </div>

        <div id="twitch-iframe-container" class="live-tream-container">

        </div>
    </div>    

    <div class="socialmedia-footer">
    </div>

</div>

<script type="text/javascript">
    var options = {
        width: 400,
        height: 300,
        channel: "{{channel.channel}}",
        // only needed if your site is also embedded on embed.example.com and othersite.example.com 
        parent: ["localhost", "bobs-queue-bot.herokuapp.com"],
        frameborder: 0,
        muted: true,
        autoplay: true,
        allowfullscreen: true
    };
    var player = new Twitch.Player("twitch-iframe-container", options);
    player.setVolume(0.5);
</script>