<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    {{> head }}
    <title>{{ title }}</title>
</head>

<body>

    <div class="main">
        <div id="next-user-container" class="flex align-items-center">
            <h1>Next Game:</h1>
            <h1 id="user-name"></h1>
            <img id="sub-badge" src="">
        </div>

        <style>
            @font-face {
                font-family: BurbankBigCondensed-Black;
                src: url(/fonts/BurbankBigCondensed-Black.otf);
            }

            body {
                background-color: rgba(255, 255, 255, 0)
            }

            h1 {
                color: #ee951c;
                font-family: BurbankBigCondensed-Black;
                -webkit-text-stroke: 2px black; /* width and color */
            }

            #user-name {
                margin: 0 0px 0 10px;
                color: #fce071;
            }
        </style>

        <script>
            setInterval(function () {
                $
                var jqxhr = $.get(`{{local_url}}/queues/{{broadcaster}}/api/next`, function (data) {
                }).done(function (data) {
                    if (data.user == null) {
                        $('#next-user-container').hide();
                    } else {
                        $('h1').show();
                        $('#user-name').html(data.user);
                        if (data.subBadge) {
                            $('#sub-badge').show();
                            $('#sub-badge').attr("src", data.subBadge);
                        } else {
                            $('#sub-badge').hide();
                        }
                    }
                }).fail(function (data) {
                    $('#next-user-container').hide();
                })
            }, 1500);
        </script>
    </div>
</body>

</html>