<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    {{> head }}
    <title>{{ title }}</title>
</head>

<body>

    <div class="main">
        <h1>Next on queue: <span id="user-name">{{ user }}</span></h1>

        <style>
            @font-face {
                font-family: BurbankBigCondensed-Black;
                src: url(/fonts/BurbankBigCondensed-Black.otf);
            }

            body {
                background-color: rgba(255, 255, 255, 0)
            }

            h1 {
                color: #ee951c;
                font-family: BurbankBigCondensed-Black;
            }

            #user-name {
                color: #fce071;
            }
        </style>

        <script>
            setInterval(function () {
                $
                var jqxhr = $.get(`{{local_url}}/queues/{{broadcaster}}/api/next`, function (data) {
                }).done(function (data) {
                    if (data == "") {
                        $('h1').hide();
                    } else {
                        $('h1').show();
                        $('#user-name').html(data);
                    }
                }).fail(function (data) {
                    $('h1').hide();
                })
            }, 1500);
        </script>
    </div>
</body>

</html>